<header>
    <div class="main" id="main_title">
        <a href={{ config.site.url }}>{{ config.site.title }}</a>
    </div>

    <nav>
        {% for menu in config.params.extra.menus %}
            <a href={{ menu.url }}>{{ _(menu.name) }}</a>
        {% endfor %}

        {% if config.params.extra.mode == "toggle" %}
            | <a id="dark-mode-toggle" onclick="toggleTheme()" href=""></a>
            <script src="{{ config.site.url }}/static/js/themetoggle.js"></script>
        {% endif %}
    </nav>
</header>
