{% import "macros/macros.html" list_posts,list_title,content as post_content %}

{% set params = config.params %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if current_path == "/" %}
    <title>
        {{ config.site.title | default:"Home" }}
    </title>
    {% else %}
    <title>
        {% if page.title %} {{ page.title }}
        {% elif config.site.title %} {{ config.site.title }}
        {% else %}Post{% endif %}
    </title>
    {% endif %}

    {% if params.extra.favicon %}
         <link rel="icon" type="image/png" href={{ params.extra.favicon }} />
    {% endif %}

    {# TODO: rss, og:image #}

    {# opengraph, twitter_cards #}

    {% if params.extra.ga %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{params.extra.ga}}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{params.extra.ga}}');
        </script>
    {% endif %}

    {# if need icon, load feather.js #}
    {% if params.extra.social and params.extra.useCDN | default:false %}
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    {% elif params.extra.social or params.extra.mode == "toggle" %}
        <script src="{{ config.site.url }}/static/js/feather.min.js"></script>
    {% endif %}


    {% if params.extra.useCDN | default:false %}
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    {% else %}
        <link href="{{ config.site.url }}/static/css/fonts.css" rel="stylesheet" />
    {% endif %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ config.site.url }}/static/css/main.css" />

    {% if params.extra.mode == "auto" or params.extra.mode == "dark" or params.extra.mode == "toggle" %}
        <link
            rel="stylesheet"
            id="darkModeStyle"
            type="text/css"
            href="{{ config.site.url }}/static/css/dark.css"
            {% if params.extra.mode == "auto" %}
                media="(prefers-color-scheme: dark)"
            {% endif %}
            {% if params.extra.mode == "toggle" %}
                disabled
            {% endif %}
        />
    {% endif %}


    {# TODO: custom css and js. #}


</head>
