{% macro list_title(pages, tag_name=false) export %}
    {% if tag_name %}
        <h1>Entries tagged - "{{ term.Name }}"</h1>
    {% else %}
        <h1 class="page-title">All articles</h1>
    {% endif %}

    <ul class="posts">
        {% for page in pages %}
            <li class="post">
                <a href="{{ page.Permalink }}">{{ page.Title }}</a>
                <span class="meta">{{ page.Date | date:"2006-01-02" }}</span>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro list_posts(pages, extra) export %}
    <ul>
    {%- for page in pages %}
        <section class="list-item">
            <h1 class="title">
                <a href={{ page.Permalink }}>{{page.Title}}</a>
            </h1>

            <time>{{ page.Date | date:"2006-01-02" }}</time>
            {% if page.Meta.author %}
                <span>| post by <a href="{{ page.Meta.author }}" target="_blank">{{ page.Meta.author }}</a></span>
            {% endif %}

            <br />
            <div class="description">
                {% if page.description %}
                    {{ page.description }}
                {% elif page.Summary %}
                    {{ page.Summary | safe }}&hellip;
                {% else %}
                    {% set hide_read_more = true %}
                {% endif %}
            </div>

            {% if not hide_read_more %}
                <a class="readmore" href={{ page.Permalink }}>{{ _("show more") }}</a>
            {% endif %}
        </section>

    {% endfor -%}
    </ul>
{% endmacro %}


{% macro tags(page, short=false) export %}
    {%- if page.Meta.tags %}
        <span class="post-tags-inline">
            {%- if short %}
                ::
                {%- set sep = "," -%}
            {% else %}
                :: tags:&nbsp;
                {%- set sep = "&nbsp;" -%}
            {% endif -%}
            {%- for tag in page.Meta.tags %}
                <a class="post-tag" href="">#{{ tag }}</a>
                {%- if not loop.last %}{{ sep | safe }}{% endif -%}
            {% endfor -%}
        </span>
    {% endif -%}
{% endmacro %}

{% macro content(page, extra) export %}
<main>
    <article>
        <div class="title">
            <h1 class="title">{{ page.Title }}</h1>
            <div class="meta">
                {% if page.Meta.author %}
                    posted by <a href="" target="_blank">{{ page.Meta.author }}</a>
                {% endif %}
                posted on {{ page.Date | date:"2006-01-02" }}

                {% if page.Meta.draft %}
                    <span class="draft-label">DRAFT</span>
                {% endif %}
            </div>
        </div>

        {% if page.Meta.extra.tldr %}
            <div class="tldr">
                <strong>tl;dr:</strong>
                {{ page.Meta.extra.tldr }}
            </div>
        {% endif %}

        <section class="body">
            {{ page.Content | safe }}
        </section>

        {% if page.Meta.tags %}
            <div class="post-tags">
                <nav class="nav tags">
                    <ul class="tags">
                        {% for tag in page.Meta.tags %}
                            <li><a href="{{ get_taxonomy_url('tags', tag) }}">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}

    </article>
</main>
{% endmacro %}
