{% import "macros/macros.html" list_posts,list_title,content as post_content %}

<!DOCTYPE html>
<html lang="{{lang}}">
{% include "partials/header.html" %}

<body>
    <div class="content">
        {% include "partials/head.html" %}

        {% block main_content %}
        <main class="list">
            <div class="site-description">
                {% if config.site.subtitle %}
                    {{ config.site.subtitle }}
                {% endif %}
            </div>

            {{ list_posts(paginator.List, config.params.extra) }}
        </main>

        {% if paginator %}
            <ul class="pagination">
                {% if paginator.Previous %}
                    <span class="page-item page-prev">
                        <a href="{{ paginator.Previous.URL }}" class="page-link" aria-label="Previous"><span aria-hidden="true">{{ _("previous_page") }}</span></a>
                    </span>
                {% endif %}

                {% if paginator.Next %}
                    <span class="page-item page-next">
                        <a href="{{ paginator.Next.URL }}" class="page-link" aria-label="Next"><span aria-hidden="true">{{ _("next_page") }}</span></a>
                    </span>
                {% endif %}
            </ul>
        {% endif %}

        {% endblock main_content %}

        {% include "partials/footer.html" %}
    </div>
</body>

</html>
